/* CUSTOM PROPY */
:root {
    --color:#fff;
    --color-text:#9597A5;
    --color-title:#2D314D;
    --color-link-gradient:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --fon-list:#F4F5F7;
    --fon-bg:#F2F2F2;
    --fonts:'Public Sans', 'Arial', sans-serif;
}

/* FONTS */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src:url('../fonts/public-sans-v13-latin-100.woff2') format('woff2'), 
    url('../fonts/public-sans-v13-latin-100.woff') format('woff'); 
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/public-sans-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-regular.woff') format('woff'); 
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src:url('../fonts/public-sans-v13-latin-500.woff2') format('woff2'), 
    url('../fonts/public-sans-v13-latin-500.woff') format('woff'); 
    font-display: swap;
}


/* GLOBAL-STYLE */
* {
    box-sizing: border-box;
}

html {
    
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background-color: var(--fon-bg);
    color: var(--color-text);
    font-family: var(--fonts);

}

*:focus {
    outline-color: var(--color-link);                             
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dashed;
}

img {
    max-width: 100%;
    height: auto;
}

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
